# Build/Release Configuration
/.github/                                   @panther-labs/business-platform
.goreleaser.yaml                            @panther-labs/business-platform
LICENSE                                     @panther-labs/business-platform
justfile                                    @panther-labs/business-platform

# CLI binaries
/cmd/panther-cloud-connected-setup/         @panther-labs/business-platform

# Platform-specific Logic
/pkg/cloudconnected/                        @panther-labs/business-platform